<nav class="navbar">
	<div class="container">
		<div class="navbar-brand">
			{{#page '' 'Kirsch Template' '' 'navbar-item title title-page' }}{{/page}}
			<span class="navbar-burger burger" data-target="navbarMenu">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</div>
		<div id="navbarMenu" class="navbar-menu">
			<div class="navbar-end">
				{{#page 'about' '@about.url' '' 'navbar-item is-size-5 has-text-weight-semibold' }}{{/page}}
			</div>
		</div>
	</div>
</nav>
<section class="hero ">
	<div class="hero-body">
		<div class="container">
			<section class="section">
				<div class="columns">
					<div class="column is-8 is-offset-2">
						<div class="content is-medium">
							<h1 class="title">About</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam nisi autem aliquam, nemo
								aliquid repudiandae atque ipsam consequuntur doloribus ducimus voluptatem ab vitae
								similique odio fugit dolores illo suscipit odit.</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>
