<nav class="navbar">
	<div class="container">
		<div class="navbar-brand">
			<p class="navbar-item title title-page">
				Kirsch Template
			</p>
			<span class="navbar-burger burger" data-target="navbarMenu">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</div>
		<div id="navbarMenu" class="navbar-menu">
			<div class="navbar-end">
				<a class="navbar-item is-size-5 has-text-weight-semibold" href="/about">
					About
				</a>
			</div>
		</div>
	</div>
</nav>
<section class="hero ">
	<div class="hero-body">
		<div class="container">
			<section class="section">
				<div class="columns">
					<div class="column is-8 is-offset-2">
						<div class="content is-medium">
							<h1 class="title">Motivation</h1>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint labore perferendis
								suscipit ipsam, natus et vel, eos voluptate atque facilis ad ullam fuga! Consequuntur
								animi, officia nesciunt qui id necessitatibus.</p>
						</div>
					</div>
				</div>
			</section>

			<div class="is-divider"></div>

			<section class="section">
				<div class="columns">
					<div class="column is-8 is-offset-2">
						<div class="content is-medium">
							<h1 class="title">Installation</h1>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores iusto voluptas omnis
								laudantium asperiores enim aperiam sapiente excepturi quia. Laborum architecto nobis
								obcaecati qui nemo suscipit expedita dolores ipsa earum.</p>
						</div>
					</div>
				</div>
			</section>


		</div>
	</div>
</section>
<section class="hero ">
	<div class="hero-body">
		<div class="container">
			<section class="section">
				<div class="columns is-variable is-8">
					<div class="column is-5 is-offset-1 ">
						<div class="content is-medium">
							<h1 class="title has-text-black is-3">Features</h1>
							<p class="has-text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, iusto
								aliquid voluptatibus quo itaque nostrum. Quasi et alias quae perspiciatis, illum quod
								dolorem possimus, unde atque aut sint obcaecati at.</p>
						</div>
					</div>
					<div class="column is-5 is-offset-1 ">
						<div class="content is-medium">
							<h1 class="title has-text-black is-3">Configuration</h1>
							<p class="has-text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eaque
								quibusdam repellat ut voluptates nam earum perspiciatis ad sunt quas, nostrum esse.
								Corporis error ea reiciendis nesciunt cum laborum porro.</p>
						</div>
					</div>
				</div>
			</section>
			<div class="is-divider"></div>
			<section class="section">
				<div class="columns is-variable is-8">
					<div class="column is-5 is-offset-1 ">
						<div class="content is-medium">
							<h1 class="title has-text-black is-3">Usage</h1>
							<p class="has-text-dark">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis,
								alias aperiam! Aliquam dolore, ducimus assumenda nam soluta earum tempora dolorem saepe
								porro sapiente corporis beatae nesciunt unde. Ratione, doloremque tempore.</p>
						</div>
					</div>
					<div class="column is-5 is-offset-1 ">
						<div class="content is-medium">
							<h1 class="title has-text-black is-3">Advanced</h1>
							<p class="has-text-dark">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi,
								hic? Ea cum earum, enim, laborum exercitationem sequi veritatis ipsam dolorum iure at
								quasi reprehenderit accusantium tempore? Officia vitae autem corrupti!</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>
<footer class="footer">
	<div class="content has-text-centered">
		<p>
			<strong>Kirsch Template</strong> by <a href="">Xavier Méndez</a>. Art design based on the
			<a target="_blank" href="https://bulmatemplates.github.io/bulma-templates/templates/blog-tailsaw.html">Blog
				2 by gonzalojs</a>. The source code is licensed
			<a target="_blank" href="https://opensource.org/licenses/ISC">ISC</a>
		</p>
	</div>
</footer>
